body {
    background-color: #f4f9fd;
}
h2 {
    color: #001E6C;
}
h3 {
    color: #4c21c4;
    font-size: 32px;
}
h4 {
    color: #001E6C;
}
p {
    color: #334756;
    font-size: 20px;
}
hr {
    border-style: none;
    border-radius: 5px;
    border-top-style: solid;
    border-color: #988acc;
    border-width: 5px;
    width: 74%;
}
.theme {
    background-color: cadetblue;
    font-size: 22px;
    color:darkblue;
}
.name {
    background-color: #d6d7eb;
    color: #4c21c4;
    font-size: 20px;
}
.skills {
    background-color:#e9e9f8;
}
.link {
    background-color: #988acc;
}
.page {
    background-color: rgb(211, 208, 208);
}

